body {
 background: url(choicewallpaper.png) no-repeat;
  /* Фоновый рисунок */
  background-size: cover;
  background-attachment: fixed;
}

.guitar {
  display: block;
  justify-content: left;
flex-direction: column;
border: 1px solid rgb(0, 0, 0);
padding: 0 10px;
cursor: pointer;
transition: 0.4s;
}
.guitar:hover {

}