body {
    background: url(electricWallpaper.jpg) no-repeat;
  /* Фоновый рисунок */
  background-size: cover;
  background-attachment: fixed;
}
@font-face {
    font-family: BadScript-regular;
    src: url(fonts/BadScript-Regular.ttf);
}
.whoisgibson {
    font-family: BadScript-regular;
    text-align: center;
    color: rgb(177, 159, 57);
    font-size: 15px;
}
.tooltip {
    position: relative;
    display: inline-flex;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
