body {
    background: url(MainWallpaper.jpg) no-repeat;
  /* Фоновый рисунок */
  background-size: cover;
  background-attachment: fixed;
}
.wrapper {
  width: 50vw; 
  height: 50vh;
  display: flex; /* отображение элемента */
  align-items: center; /* выравнивание flex-элементов */
  justify-content: center; /* распределение текста по центру */
}
@font-face {
  font-family: grunger; /* а это я так назвал шрифт :) */
  src: url(fonts/Grunger.ttf); /* ссылка на шрифт */
}
@font-face {
  font-family: BlackRocker; /* а это я так назвал шрифт :) */
  src: url(fonts/BlackRocker.ttf); /* ссылка на шрифт */
}
.neon-text {
  font-family: grunger; /* шрифт */
  font-size: 5rem; /* размер текста */
 color: white; /* цвет */
  font-weight: 300; 
}
.topnav {
  overflow: hidden; /* это я наверху нахожусь */
  background-color: #312e2e; /* фоновый цвет */
}

.topnav a {
  float: left;  /* помещение внутрь левой стороны */
  color: #f2f2f2; /* цвет */
  text-align: center; /* расположение текста */
  padding: 14px 16px; /* величина полей */
  text-decoration: none; /* декорации текста */
  font-size: 17px; /* размер текста */
  transition-duration: 0.4s; /* время, через сколько появится белый цвет */
}

.topnav a:hover {
  background-color: #ddd; /* цвет за фоном */
  color: black; /* цвет */
}

.welcome {
 color: #ddd;
 font-size: 20px;
 font-family: grunger;  /* ссылка на шрифт */
}
